# Do not touch
Version: 1
# What locale should server use by default.
# If specified locale file does not exist in FancyNations/messages then english will be used.
# Some locales are available from the box, but for others you should create them yourself.
# For example, if you set this to 'uk' but messages_uk.yml does not exist in messages/ folder
# then english will be used until you create this file with your custom messages.
Locale: en

Messages:
  # Should we prepend all messages with plugin prefix set on prefix_plugin?
  Use_Plugin_Prefix: false

  # Plugin prefix. Works only if Use_Plugin_Prefix is true
  Prefix_Plugin: '&8&l[&a&lFancyNations&8&l] '
  # Prefix for messages with '@error_prefix'
  Prefix_Error: '&8&l[&c✖&8&l]&c'
  # Prefix for messages with '@warn_prefix'
  Prefix_Warning: '&8&l[&6&l!&8&l]&6'
  # Prefix for messages with '@success_prefix'
  Prefix_Success: '&8&l[&a✔&8&l]&a'
  # Prefix for messages with '@info_prefix'
  Prefix_Info: '&8&l[&9&li&8&l]&7'
  # Notice that every message not belonging to any of these groups will have no prefix

  # Should we adjust plugin's language to every user?
  # If false, default server language (Settings.Locale) will be used for all messages.
  # If true, every message for every player will be in his in-game locale.
  # Of course, it works only if player's localization messages are available in FancyNations/messages folder.
  Use_Player_Based_Locales: true

# Database connection values
Database:
  Host: localhost
  Port: 3306
  Database: fancynations
  Username: root
  Password: ''

General:
  # Set 'database' to use DB or 'filesystem' to use files to save data.
  Data_Management_Type: database
  # How the server's name should look in database.
  # Please use special characters to not let players join with that name.
  Server_Var: '%server%'
  # If true, every database request will be printed to console.
  SQL_Debug: false

# Default values when town is created
Towns:
  Default_Balance: 0
  Default_Stations_Tax: 1.0
  Default_Auction_Tax: 1.0
  Default_Tasks_Tax: 1.0

# Default values when task is created
Tasks:
  Max_Name_Length: 35
  Default_Take_Amount: 10
  Default_Min_Level: 1
  Default_Max_Level: 100
  Default_Money_Reward: 0
  Default_Exp_Reward: 0
  Default_Rep_Reward: 0
  Default_Priority: 0
  Default_Time_To_Complete: 43200

# Default values when town worker is created
Town_Workers:
  Mayor_Default_Display_Name: 'Mayor'
  Helper_Default_Display_Name: 'Helper'
  Judge_Default_Display_Name: 'Judge'
  Other_Default_Display_Name: 'Worker'
  Default_Salary: 0

# Default values when town building is created
Town_Buildings:
  Default_Farm_Level: 0
  Default_Defend_Tower_Level: 0
  Default_Workshop_Level: 0
  Default_Barracks_Level: 0
  Default_Church_Level: 0

# What share (in %) of resources or mobs will a town get when a player finishes a task.
# For resources, town will be able to spend them for its purposes.
# For mobs, town will be able to buy new levels of some buildings if it has some amount of killed mobs.
Rewards:
  Town_Resource_Share: 50
  Town_Mobs_Share: 100

# These templates take values from their corresponding messages notes in messages_<your_lang>.yml.
# You can simply remove any line from any template, so it will not be shown in the game chat.
# Do not add your own parameters like @money - this will not work. There are only two parameters,
# except task properties, available: @chat_line and @chat_line_smooth.
Messages_Templates:
  Task_Info:
    - ' '
    - '&8@chat_line_smooth'
    - ' @template_task_info_label'
    - '&8@chat_line_smooth'
    - ' @template_task_info_name &7(@template_task_info_priority)'
    - ' @template_task_info_levels &8&l| @template_task_info_type &8&l| @template_task_info_town'
    - ' @template_task_info_money_reward &8&l+ @template_task_info_exp_reward &8&l+ @template_task_info_rep_reward'
    - ' @template_task_info_created_by &8&l| @template_task_info_completions_left'
    - ' @template_task_info_time_to_complete'
    - ' @template_task_info_description'
    - '&8@chat_line_smooth'
    - ' '
  Task_List:
    Header:
      - ' '
      - '&8@chat_line_smooth'
      - ' @template_task_list_label'
      - '&8@chat_line_smooth'
      - ' @template_task_list_example'
      - ' '
    Footer:
      - '&8@chat_line_smooth'
      - ' '